<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="A1Z_Flange">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3E-06 -4.871E-05 0.03017045"
        rpy="0 0 0" />
      <mass
        value="1.02443598" />
      <inertia
        ixx="0.00175236"
        ixy="-1E-08"
        ixz="3E-08"
        iyy="0.00088755"
        iyz="1.98E-06"
        izz="0.00159613" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="arm_link1">
    <inertial>
      <origin
        xyz="0.0051248 0.00352265 0.01887119"
        rpy="0 0 0" />
      <mass
        value="0.10959668" />
      <inertia
        ixx="0.00015534"
        ixy="-3.05E-06"
        ixz="-1.22E-05"
        iyy="4.537E-05"
        iyz="-5.9E-06"
        izz="0.000148" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/arm_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/arm_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_joint1"
    type="revolute">
    <origin
      xyz="0 0 0.075"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="arm_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_link2">
    <inertial>
      <origin
        xyz="-0.1316067 -0.00021276 2.29E-06"
        rpy="0 0 0" />
      <mass
        value="1.63304631" />
      <inertia
        ixx="0.00097959"
        ixy="6.844E-05"
        ixz="-6.9E-07"
        iyy="0.02376811"
        iyz="4E-08"
        izz="0.02397316" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/arm_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/arm_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_joint2"
    type="revolute">
    <origin
      xyz="0.02 0 0.043"
      rpy="0 0 0" />
    <parent
      link="arm_link1" />
    <child
      link="arm_link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="3.142"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_link3">
    <inertial>
      <origin
        xyz="0.15940760 -0.00005646 0.05493054"
        rpy="0 0 0" />
      <mass
        value="0.99109270" />
      <inertia
        ixx="0.00071333"
        ixy="-0.00008986"
        ixz="-0.00072729"
        iyy="0.00923813"
        iyz="-0.00001487"
        izz="0.00933122" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/arm_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/arm_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_joint3"
    type="revolute">
    <origin
      xyz="-0.264 0 0"
      rpy="0 0 0" />
    <parent
      link="arm_link2" />
    <child
      link="arm_link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="3.142"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_link4">
    <inertial>
      <origin
        xyz="0.06143699 0.00107414 0.05309221"
        rpy="0 0 0" />
      <mass
        value="0.48309874" />
      <inertia
        ixx="0.00043595"
        ixy="0.00003158"
        ixz="-0.00023452"
        iyy="0.00059163"
        iyz="0.00002754"
        izz="0.00047698" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/arm_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/arm_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_joint4"
    type="revolute">
    <origin
      xyz="0.245 0 0.06"
      rpy="0 0 0" />
    <parent
      link="arm_link3" />
    <child
      link="arm_link4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.309"
      upper="1.309"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_link5">
    <inertial>
      <origin
        xyz="-0.00366248 -2.724E-05 -0.03904971"
        rpy="0 0 0" />
      <mass
        value="0.36875049" />
      <inertia
        ixx="0.00010146"
        ixy="-7E-08"
        ixz="5.55E-06"
        iyy="0.00011993"
        iyz="0"
        izz="8.271E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/arm_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/arm_link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_joint5"
    type="revolute">
    <origin
      xyz="0.074 0 0.042"
      rpy="0 0 0" />
    <parent
      link="arm_link4" />
    <child
      link="arm_link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.484"
      upper="1.484"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_link6">
    <inertial>
      <origin
        xyz="0.005697 -0.00025389 -0.00094751"
        rpy="0 0 0" />
      <mass
        value="0.048063" />
      <inertia
       ixx="1.635E-05"
        ixy="4.5064E-08"
        ixz="1.6818E-07"
        iyy="8.9985E-06"
        iyz="1.507E-07"
        izz="8.4765E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/arm_link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://A1Z_Flange/meshes/arm_link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_joint6"
    type="revolute">
    <origin
      xyz="0.0235 0 -0.042"
      rpy="0 0 0" />
    <parent
      link="arm_link5" />
    <child
      link="arm_link6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-2.007"
      upper="2.007"
      effort="0"
      velocity="0" />
  </joint>
</robot>